body {
    background: white;
    font-family: ubuntu, ubuntubeta, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin: 0 auto;
}
button::-moz-focus-inner {
    /* fix buttons in FF */
    border: 0;
    padding: 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Remove button margin in webkit */
    button{
        margin: 0;
    }
}
.acchide {
    direction: ltr;
    text-indent: -999em;
    display: block;
}
.search-box {
    width: 595px;
    margin: 0 auto;
    margin-top: 63px;
}
.ubuntu-branding {
    background-color: #aea79f;
    height: 40px;
    width: 40px
    border-radius: 5px 5px 0 0;
}
.wrapper {
    padding: 0;
    border: 1px solid #eee;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
    text-align: center;
}
.wrapper h1 {
    margin: 0;
    padding: 0;
}

/*Logo ANAR aqui cambian el tamano*/
.logo a {
    font-size: 1px;
    display: block;
    text-indent: -9999px;
    background: url(../imagenes/logo.png) no-repeat;
    background-size:200px;
    margin: 0;
    margin-left:auto;
    margin-right:auto;
    padding: 0;
    height: 100px;
    width: auto;
    margin-bottom: 15px;
    position: relative;
}
/*Contenedor logo*/
.logo {
   max-width: 100%;
   max-height: 100%;
   height:auto;
   width:auto;
}
/*no le paren*/
.wrapper input {
    /* allows styling in webkit */
    -webkit-appearance: textfield;
    display: inline-block;
    vertical-align: top;
    width: 384px;
    height: 32px;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #AEA79F;
}
.inner {
    display: inline-block;
    margin: 65px auto 100px auto;
}
.inner form {
    height: 32px;
}
/*Search button, el de la lupa blanca*/
#sbtn {
    margin: 0 3px;
    display: inline-block;
    vertical-align: top;
    background-color:#812428;
    background: #812428; /* Old browsers */
    border: 1px solid #C0C0C0;
    border-radius: 2px;
    color: #FFFFFF;
    -moz-user-select: none;
    cursor: default;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
/*Parte del search button*/
#sspan {
    background: url(http://start.ubuntu.com/12.04/sprite.png) no-repeat;
    background-position: -10px -692px;
    vertical-align: top;
    display: inline-block;
    height: 17px;
    margin: 5px 19px;
    width: 14px;
}
/*Botones con los acordeones*/
.botones {
   display:inline;
}